@font-face {
    font-family: Hill House;
    src: url('../assets/font/Hill_House\ 2.otf');
}

body {
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: rgb(17, 17, 17);
    margin-top: 2%;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 350px;
    margin-bottom: 30px;
}

.timestamp {
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;
    color: #bba391cb;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 204px;
    position: static;
    text-align: center;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Timestamp appears on card hover */
.card-container:hover .timestamp {
    opacity: 1;
}

.no-cards-message {
    font-family: 'Catamaran', sans-serif;
    display: flex;
    padding-top: 40px;
    justify-content: center;
}
